body {
	background: #eee;
}
.content {
	width: 500px;
	margin: 150px auto;
}
#holder {
	height: 200px;
	box-shadow: 1px -2px 3px #ddd;
	border-radius: 5%;
	border: 1px solid #aaa;
	background-color: #fff;
	padding: 25px;
}
.btn-generate {
	margin: 10px;
	background-color: #fefeff;
	color: #a3a3a3;
	font-weight: bold;
	box-shadow: 1px 2px 3px #ddd;
	border: 1px dotted #aaa;
	padding: 5px 15px;
}